.bg--top-slider-bg {background-image: url('../../images/top-slider-bg.jpg');}
.bg--decor-section-bg {background-image: url('../../images/decor-section-bg.jpg');}
.bg--about-section-bg {background-image: url('../../images/about-section-bg.jpg');}
.bg--inspiration-section-bg {background-image: url('../../images/inspiration-section-bg.jpg');}
